<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Create User')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
<div id="mainwindow" class="mainwindow">
    <div id="topbar">
        Add User
    </div>
    <div id="bodywrap">
        <h1>New User</h1>
        <table>
            <form action="#" th:action="@{/Admin/createUser}" th:object="${usercore}" method="post" class="form-inline">
                <div class="form-group"><tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Enter username"/></td>
                    <td> <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></td>

                </tr></div>
                <div class="form-group"><tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Enter password"/></td>
                    <td> <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>
                </tr></div>
                <div class="form-group"><tr>
                    <td><label for="auth">Authorization Level</label></td>
                    <td><input type="text" th:field="*{baseAuth}" class="form-control" id="auth" placeholder="Enter authorization"/></td>
                    <td> <span class="error" th:if="${#fields.hasErrors('authorityStrings')}" th:errors="*{authorityStrings}"></span></td>
                </tr></div>

                <tr><td><button type="submit" class="btn btn-primary">Submit</button></td></tr>
            </form>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>