/**********************************************************************************************************************/
/* Misc */
/**********************************************************************************************************************/
h1 {
    color:#005EB8;
    font-size: 2.1vw;
}

h2 {
    color:#005EB8;
    font-size: 1.9vw;
}

h3 {
    color:#005EB8;
    font-size: 1.4vw;
}

h4 {
    color:#FFF;
    font-size:40px;
    margin:0;
}
h5 {
    color:#005EB8;
    font-size:2.5vh;
    line-height: 2vh;
    vertical-align: middle;
    margin-left:1vw;
    margin-bottom: 1px;
}

body {
    background-color:#FFF;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
}

/**********************************************************************************************************************/
/* Login page */
/**********************************************************************************************************************/

#login-background {
    background-image: url(/images/hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

#login-header {
    background-color:#005EB8;
    display:block;
    height:50px;
    width:100%;
    top: 0px;
    z-index: 999999;
    -moz-box-shadow:    0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    box-shadow:         0px 0px 4px 2px rgba(0, 0, 0, 0.4);
}

#login-main {
    height: 100%;
    width: 100%;
}

#login-form {
    height: 100%;
}

#login-form-container {
    width: 315px;
    min-width: 315px;
    height: 100%;
    padding: 0px 10px 0px 0px;
    text-align: right;
}

#login-form-container input[type="text"], input[type="password"] {
    margin: 0px 5px;
    border: 1px solid #004b9b;
    height: 25px;
    width: 120px;
    font-size: 12px;
}

#electronic-handover {
    width: 100%;
    height: 80%;
    text-align: center;
    /*color: #005EB8;*/
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

#login-error-text {

}

/**********************************************************************************************************************/
/* Header bar */
/**********************************************************************************************************************/
#header {
    background-color:#005EB8;
    height:50px;
    width:100%;
    position: fixed;
    top: 0px;
    z-index: 999999;
    -moz-box-shadow:    0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 0px 4px 1px rgba(0, 0, 0, 0.3);
}

#header-table {
    height: 100%;
    width: 100%;
}

#sidebar-button-container {
    width: 50px;
    padding-left: 10px;
}

#menu-container {
    width: auto;
    text-align: right;
    padding-right: 5px;
    color: white;
    font-size: 13px;
    font-style: italic;
}

#user-buttons-container {
    width: 250px;
    padding: 0px 10px 0px 0px;
    text-align: right;
}

.header-button {
    background: none;
    height: 100%;
    border: none;
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}

.header-button:hover {
    color: rgba(255,255,255,1);
}

.handover-button-text {
    display: inline;
    background-color: #ED8B00;
    width: 100%;
    height: 80%;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    border-radius: 42px;
    color: white;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    -webkit-transition: background-color .25s ease-out;
    -moz-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
}

.handover-button-text:hover {
    text-decoration: none;
    background-color: #FFB81C;
	-webkit-transition: background-color .25s ease-out;
	-moz-transition: background-color .25s ease-out;
	-o-transition: background-color .25s ease-out;
	transition: background-color .25s ease-out;
}

.handover-button-shape:hover {
    text-decoration: none;
}

.fa-cog {
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

.fa-cog:hover {
    transform: rotate(90deg);
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

/**********************************************************************************************************************/
/* Sidebar */
/**********************************************************************************************************************/

#sidebar{
    top: 50px;
    background-color: #E8EDEE;
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
}

#sidebarwrap {
    font-size: 1vw;
    /*padding: 0.95vh 0.8vw 0.7vh 1vw;*/
    padding-top: 10px;
}

#sidebarwrap h1 {
    display: inline;
    font-size: 3.5vh;
    /*padding: 0.95vh 0.8vw 0.7vh 1vw;*/
}

#sidebarwrap h2 {
    font-size: 2vh;
    font-weight: 300;
    font-style: italic;
    /*padding: 0.95vh 0.8vw 0.7vh 1vw;*/
}

#sidebarwrap h3 {
    display: inline;
    font-size: 2.8vh;
    /*padding: 0.95vh 0.8vw 0.7vh 1vw;*/
}

.sidebar {
    left: -20%;
}

.sidebar-open {
    left: 0px;
}

#sidebar,#mainwindow,#topbar{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-row {
    display: block;
    /*padding: 0.95vh 0.8vw 0.7vh 1vw;*/
    padding: 5px 10px 5px 20px;
    /*padding-left: 10px;*/
    font-size: 3.5vh;
    -webkit-transition:background-color .25s ease-in-out;
    -moz-transition:background-color .25s ease-in-out;
    -o-transition:background-color .25s ease-in-out;
    transition:background-color .25s ease-in-out;
}

a.sidebar-row:hover {
    text-decoration: none;
    background-color: #dee4ed;
    -webkit-transition:background-color .25s ease-in-out;
    -moz-transition:background-color .25s ease-in-out;
    -o-transition:background-color .25s ease-in-out;
    transition:background-color .25s ease-in-out;
}

a.sidebar-row:active {
    text-decoration: none;
    background-color: #d7dee8;
    -webkit-transition:background-color .15s ease-in-out;
    -moz-transition:background-color .15s ease-in-out;
    -o-transition:background-color .15s ease-in-out;
    transition:background-color .15s ease-in-out;
}

/**********************************************************************************************************************/
/* Top/title bar */
/**********************************************************************************************************************/

#topbar {
    background-color:#0072CE;
    height:50px;
    font-size:20px;
    line-height: 50px;
    color:#FFFFFF;
    padding-left: 34px;
}

.topbar {
    width: 100%;
}

.topbar-open {
    width: 80vw;
}

/**********************************************************************************************************************/
/* Main window */
/**********************************************************************************************************************/

#mainwindow {
    background-color: #FFFFFF;
    height: 100%;
    position: relative;
}

.mainwindow {
    float: right;
    width: 100%;
    height: 100%;
}

.sidebar-mainwindow {
    width: 80%;
}

#bodywrap {
    padding: 2.5vh 1.5vw;
    width: 100%;
}

#bodywrap input {
    background-color: #F0F2F4;
    width: 100%;
    height: 40px;
}

/**********************************************************************************************************************/
/* Overview and admin boxes */
/**********************************************************************************************************************/

.overviewbox {
    width: 100%;
    min-height: 15vh;
    padding: 8px 0px 8px 0px;
    margin-bottom: 20px;
    background: #E8EDEE;
    border-radius: 8px;
}

.overviewbox-wrapper {
    width: 100%;
}

.overview-box-title {
    font-size: 17px;
    color: rgba(0, 94, 184, 1);
    line-height: 17px;
    vertical-align: middle;
    margin-left:1vw;
    margin-bottom: 1px;
}

.overview-box-title:hover {
    text-decoration: none;
    color: rgba(0, 94, 184, 0.8);
}

.line {
    display: block;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

#admin-box {
    padding: 15px;
    color: #005EB8;
    font-size: 15px;
}

#admin-box a{
    color: rgba(0, 94, 184, 1);
}

#admin-box a:hover{
    text-decoration: none;
    color: rgba(0, 94, 184, 0.8);
}

#add-patient-icon {
    color: rgba(0, 94, 184, 1);
    font-size: 19px;
    padding: 2px 15px 0px 0px;
}

#add-patient-icon:hover {
    color: rgba(0, 94, 184, 0.8);
}

/**********************************************************************************************************************/
/* Accordion */
/**********************************************************************************************************************/

.ac-container label {
    padding: .7em 2em;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color:#555555;
    letter-spacing: 1px;
    line-height: 33px;
    font-size: 1em;
    background: #E8EDEE;
}

.ac-container label:hover {
    background: #d2d7d8;
    color: #000;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
    color: #000;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    background: #f0f2f4;
}

.ac-container label:after, .ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 22px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.ac-container input:checked + label:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 22px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: #FFFFFF;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
    line-height: 23px;
    font-size: 14px;
    padding: 15px 20px;
    color: #999;
    background-color: #E8EDEE;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: auto;
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
}

.ac-small ul {
    padding: 0;
    /*-- border-bottom: 2px solid #272b2d; --*/
}

.ac-small ul li {
    list-style-type: none;
    font-size: 14px;
    color: #555555;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 0.9em 0 0.9em 2em;
    background: #FFFFFF;
}

.ac-small ul li a:hover {
    background: #bdc1c2;
    color: #fff;
}

.w3l-accordion-mk {
    padding-right: 0;
}

/**********************************************************************************************************************/
/* Patient details */
/**********************************************************************************************************************/

.patient-title-table {
    color: #555555;
    font-size: 1vw;
    width: 100%;
}
.patient-title-table tr td {
    padding: 0 1vw 0 1vw;
}
.patient-title-table-bed {
    width: 6vw;
    font-size: 1vw;
}

.patient-info-table {
    table-layout: fixed;
    border: none;
    font-size: 14px;
    margin: auto;
    width: calc(100% - 50px);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555555;
}

.patient-info-table tr td {
    padding: 0 1vw 0 1vw;
}

.patient-info-table tr td:first-child {
    padding: 10px;
    font-weight: bold;
    width: 15em;
    color: #666666;
}

.patient-button {
    padding:5px;
    color: #555555;
}

.patient-button:hover {
    padding:5px;
    color: #555555;
}

/**********************************************************************************************************************/
/* Hover text */
/**********************************************************************************************************************/

/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
*/

/**********************************************************************************************************************/
/* Other */
/**********************************************************************************************************************/

.login-form p {
    font-size: 0.9em;
    text-align: center;
    line-height: 1.9em;
    color: #fff;
    margin-top: 1em;
}

.agileits_signin_form input[type="submit"]:hover {
    background:#4cd4b0;
}

.roundedbutton {

            padding: 10px 0;
            width: 36%;
            font-size: 1em;
            border: none;
            color: #fff;
            background: #000;
            outline: none;
            font-weight: 600;
            letter-spacing: 1px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
}

*:hover {
    -webkit-transition: all .18s ease-out;
    -moz-transition: all .18s ease-out;
    -ms-transition: all .18s ease-out;
    -o-transition: all .18s ease-out;
    transition: all .18s ease-out;
}