<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        p { margin: 0; }
        th, td {
            border-bottom: 1px solid #ddd;
            vertical-align: top;
        }
        @page { size: A4 landscape;}
        body { font-family: 'Roboto', sans-serif; }
        tr { page-break-inside: avoid !important }
    </style>
</head>
<body>
    <table>
        <colgroup>
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
        </colgroup>

        <thead>
            <tr>
                <th>com.quantech.refactoring.Patient Details</th>
                <th>Diagnosis</th>
                <th>History</th>
                <th>Social Issues</th>
                <th>Risks</th>
                <th>Plan</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="patient,iterStat : ${patients}">
                <td>
                    <p><span th:text="${patient.title}"/>  <span th:text="${patient.firstName}"/> <span th:text="${patient.lastName}"/></p>
                    <p>D.O.B: <span th:text="${patient.birthDate}"/></p>
                    <p>Ward: <span th:text="${patient.ward.name}"/></p>
                    <p>Bed: <span th:text="${patient.bed}"/></p>
                    <p>Hosp. #: <span th:text="${patient.hospitalNumber}"/></p>
                    <p>Admitted: <span th:text="${patient.dateOfAdmission}"/></p>
                </td>
                <td>
                    <span th:text="${patient.diagnosis}"/>
                </td>
                <td>
                    <span th:text="${patient.relevantHistory}"/>
                </td>
                <td>
                    <span th:text="${patient.socialIssues}"/>
                </td>
                <td>
                    <span th:text="${patient.risks}"/>
                </td>
                <td>
                    <span th:text="${patient.recommendations}"/>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>