<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
>
<head>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>

<div id="sidebar" class="sidebar sidebar-open" th:fragment="sidebarstartopen">
    <div id="sidebarwrap">
        <h1 th:text="${#authentication.principal.getFullName()}">test</h1>
        <h2>Cardiology: Bristol Royal Infirmary</h2>
        <a class="sidebar-row" th:href="@{/}"><h3>Overview</h3></a>
        <a th:href="@{/patient/all}" th:if="${#authentication.principal.isDoctor()}" class="sidebar-row">
            <h3>My Patients</h3>
        </a>
        <a th:href="@{/viewHandovers}" th:if="${#authentication.principal.isDoctor()}" class="sidebar-row">
            <h3>Sent Handovers</h3>
        </a>
    </div>
</div>

<div id="sidebar" class="sidebar" th:fragment="sidebar">
    <div id="sidebarwrap">
        <h1 th:text="${#authentication.principal.getFullName()}">test</h1>
        <h2>Cardiology: Bristol Royal Infirmary</h2>
        <a class="sidebar-row" th:href="@{/}"><h3>Overview</h3></a>
        <a th:href="@{/patient/all}" th:if="${#authentication.principal.isDoctor()}" class="sidebar-row">
            <h3>My Patients</h3>
        </a>
        <a th:href="@{/viewHandovers}" th:if="${#authentication.principal.isDoctor()}" class="sidebar-row">
            <h3>Sent Handovers</h3>
        </a>
    </div>
</div>

</body>
</html>

<!--      <a th:href="@{/Admin}" th:if="${#authentication.principal.hasAuth(T(com.quantech.Configurations.SecurityRoles).Admin)}"><h3>Go To Admin Page</h3></a> -->
