
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="commmon" th:remove="tag">
    <script
            src="http://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script th:src="@{../js/classie.js}"></script>
    <script>
        var menuLeft = document.getElementById( 'sidebar' ),
            body = document.body;
        var mainWindow = document.getElementById( 'mainwindow' ),
            body = document.body;

        showLeft.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuLeft, 'sidebar-open' );
            classie.toggle( mainWindow, 'sidebar-mainwindow' );
            disableOther( 'showLeft' );
        };
    </script>
</div>

</body>
</html>