<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:include="fragments/header :: head (title='Quantech Home')">
</head>


<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
<div id="mainwindow" class="mainwindow">
    <div id="topbar">
        Overview
    </div>
    <!-- Accordion -->
    <div id="bodywrap">
        <div id="overviewboxleft"> My Handovers<br/>
            Handover 1<br/>
            Handover 2<br/>
            Handover 3<br/>

        </div>
        <div id="overviewboxright">My Pending Handovers<br/>
            Pending Handover 1<br/>
            Pending Handover 2<br/>
            Pending Handover 3<br/>

        </div>
        <div id="overviewboxleft"><a th:href="@{/patient/all}">My Patients</a>


        </div>
        <div id="overviewboxright">To Do<br/>
            Do This<br/>

        </div>
    </div>
    <!-- //Accordion -->
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>


