<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:include="fragments/header2 :: head (title='Quantech Home')">
</head>


<body>
<div th:replace="fragments/header2 :: header">&nbsp;</div>
<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
<div id="mainwindow" class="mainwindow">
    <div id="topbar">
        My Patients, Unwell
        <div id="rightalign">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <font size="2px">Filter</font>
        </div>
    </div>
    <!-- Accordion -->
    <div id="bodywrap">
        <div class="ac-container agileits w3layouts">
            <div>
                <input id="ac-4" name="accordion-1" type="checkbox" />
                <label for="ac-4" class="grid1">Bed 1, Ms Kelly Green <div id="rightalign"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange;font-size:36px;" ></i></div></label>
                <article class="ac-small agileits w3layouts">
                    <ul>
                        <li><a href="#">Accordion 1 Sub Menu 1</a></li>
                        <li><a href="#">Accordion 1 Sub Menu 2</a></li>
                        <li><a href="#">Accordion 1 Sub Menu 3</a></li>
                        <li><a href="#">Accordion 1 Sub Menu 4</a></li>
                        <li><a href="#">Accordion 1 Sub Menu 5</a></li>
                    </ul>
                </article>
            </div>
            <div>
                <input id="ac-5" name="accordion-1" type="checkbox" />
                <label for="ac-5" class="grid2">Bed 2, Ms Yara Karim<div id="rightalign"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange;font-size:36px;" ></i></div></label>
                <article class="ac-small agileits w3layouts">
                    <ul>
                        <li><a href="#">Accordion 2 Sub Menu 1</a></li>
                        <li><a href="#">Accordion 2 Sub Menu 2</a></li>
                        <li><a href="#">Accordion 2 Sub Menu 3</a></li>
                        <li><a href="#">Accordion 2 Sub Menu 4</a></li>
                        <li><a href="#">Accordion 2 Sub Menu 5</a></li>
                    </ul>
                </article>
            </div>
            <div>
                <input id="ac-6" name="accordion-1" type="checkbox" />
                <label for="ac-6" class="grid3">Bed 4, Ms Jessica Foster<div id="rightalign"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange;font-size:36px;" ></i></div></label>
                <article class="ac-small agileits w3layouts">
                    <ul>
                        <li><a href="#">Accordion 3 Sub Menu 1</a></li>
                        <li><a href="#">Accordion 3 Sub Menu 2</a></li>
                        <li><a href="#">Accordion 3 Sub Menu 3</a></li>
                        <li><a href="#">Accordion 3 Sub Menu 4</a></li>
                        <li><a href="#">Accordion 3 Sub Menu 5</a></li>
                    </ul>
                </article>
            </div>
            <div>
                <input id="ac-7" name="accordion-1" type="checkbox" />
                <label for="ac-7" class="grid4">Bed 7, Ms Annette Scott<div id="rightalign"><input type="button" class="roundedbutton" value="Handover"/><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange;font-size:36px;" ></i></div></label>
                <article class="ac-small agileits w3layouts">
                    <ul>
                        <li><a href="#">Accordion 4 Sub Menu 1</a></li>
                        <li><a href="#">Accordion 4 Sub Menu 2</a></li>
                        <li><a href="#">Accordion 4 Sub Menu 3</a></li>
                        <li><a href="#">Accordion 4 Sub Menu 4</a></li>
                        <li><a href="#">Accordion 4 Sub Menu 5</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
    <!-- //Accordion -->
</div>
<div th:replace="fragments/footer2 :: footer">...</div>
</body>
</html>


