<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:include="fragments/header :: head (title='Quantech Home')">
</head>


<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
<div id="mainwindow" class="mainwindow">
    <div id="topbar">
        Overview
        <div id="rightalign">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <font size="2px">Filter</font>
        </div>
    </div>
    <!-- Accordion -->
    <div id="bodywrap">
        Overview page
    </div>
    <!-- //Accordion -->
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>


