<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Patient')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div th:replace="fragments/layout :: sidebar">&nbsp;</div>
<div id="mainwindow" class="mainwindow">
    <div id="topbar">
        View Patient
    </div>
    <div id="bodywrap">
            <a th:href="@{/quantech}">View All Patients</a>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td><span th:text="${patient.title}"/>  <span th:text="${patient.firstName}"/> <span th:text="${patient.lastName}"/></td>
                </tr>
                <tr>
                    <td>Doctor</td>
                    <td><span th:text="${patient.doctor.getTitle()}"/> <span th:text="${patient.doctor.getFirstName()}"/> <span th:text="${patient.doctor.getLastName()}"/></td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td><span th:text="${patient.birthDate}"/></td>
                </tr>
                <tr>
                    <td>NHS Number</td>
                    <td><span th:text="${patient.nHSNumber}"/></td>
                </tr>
                <tr>
                    <td>Hospital Number</td>
                    <td><span th:text="${patient.hospitalNumber}"/></td>
                </tr>
                <tr>
                    <td>Ward</td>
                    <td><span th:text="${patient.ward.getName()}"/></td>
                </tr>
                <tr>
                    <td>Bed Number</td>
                    <td><span th:text="${patient.bed}"/></td>
                </tr>
                <tr>
                    <td>Date of Admission</td>
                    <td><span th:text="${patient.dateOfAdmission}"/></td>
                </tr>
                <tr>
                    <td>Relevant History</td>
                    <td><span th:text="${patient.relevantHistory}"/></td>
                </tr>
                <tr>
                    <td>Social Issues</td>
                    <td><span th:text="${patient.socialIssues}"/></td>
                </tr>
                <tr>
                    <td>Risks</td>
                    <td><span th:text="${patient.risks}"/></td>
                </tr>
                <tr>
                    <td>Recommendations</td>
                    <td><span th:text="${patient.recommendations}"/></td>
                </tr>
                <tr>
                    <td>Diagnosis</td>
                    <td><span th:text="${patient.diagnosis}"/></td>
                </tr>

            </table>
            <form th:action="@{/print/patientId=} + ${patient.id}" method="get">
                <input type="submit" value="View as PDF"/>
            </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>