<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Login | Quantech')">
</head>

<body>
<div>
    <!-- quick and rough inline formatting for now; redo this page in the future -->
    <div id="topbar" style="width:98.8%; top:0;">
        <center>Login</center>
    </div>
    <!-- just to add some space at the top, since the div below is relative, not absolute-->
    <div id="spacer" style="height: 10vh;"></div>
    <div>
        <center>
        <form th:action="@{/login}" method="post">
            <table>
                <tr><td><label> User Name :  </label></td><td><input type="text" name="username"/></td></tr>
                <tr><td><label> Password:  </label></td><td><input type="password" name="password"/></td></tr>
                <tr><td></td><td><input type="submit" value="Sign In"/></td></tr>
            </table>
        </form>
        </center>
        <div th:if="${param.error}">
            Username or Password is wrong. Please check again
        </div>
        <div th:if="${param.logout}">
            Logged out
        </div>
    </div>
</div>
</body>
</html>