<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:include="fragments/header :: head (title='Overview')">
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div th:replace="fragments/layout :: sidebarstartopen">&nbsp;</div>
<div id="mainwindow" class="mainwindow sidebar-mainwindow">
    <div id="topbar" class="topbar topbar-open heading">
        Overview
    </div>
    <div id="bodywrap" >
        <div th:if="${#authentication.principal.isDoctor()}" class="overviewbox-wrapper">
            <div th:if="${not #lists.isEmpty(pending)}" id="overviewbox"><a th:href="@{/viewPendingHandovers}"><h5>Handovers To Accept (<span th:text="${#lists.size(pending)}"/>)</h5></a>
                <div class="line"></div>
                <!-- Accordion -->
                <div class="ac-container agileits w3layouts">
                    <div  th:each="handover,iterStat : ${pending}">
                        <input th:id="'ac-' + ${iterStat.count}" name="accordion-3" type="checkbox" />
                        <label th:for="'ac-' + ${iterStat.count}" th:class="'grid3'  + ${iterStat.count}">
                            <table class="patient-title-table">
                                <tr>
                                    <td class="patient-title-table-bed">Bed <span th:text="${handover.patient.bed}"/></td>
                                    <td><span th:text="${handover.patient.title}"/> <span th:text="${handover.patient.firstName}"/> <span th:text="${handover.patient.lastName}"/></td>
                                </tr>
                            </table>
                        </label>
                        <article class="ac-small agileits w3layouts">
                            <div style="float: left;">
                                <ul>
                                    <li>Patient Notes: <span th:text="${handover.note}"/></li>
                                    <li>Sending Doctor: <span th:text="${handover.originDoctor.title}"/> <span th:text="${handover.originDoctor.firstName}"/> <span th:text="${handover.originDoctor.lastName}"/></li>
                                    <li>Relevant History: <span th:text="${handover.patient.relevantHistory}"/></li>
                                    <li>Recommendations: <span th:text="${handover.patient.recommendations}"/></li>
                                    <li>Risks: <span th:text="${handover.patient.risks}"/></li>
                                    <li><div th:if="${doctor.id} == ${handover.recipientDoctor.id}">
                                        <a  th:href="@{/handover/accept(id=${handover.id})}">Accept Pending Handover</a>
                                    </div></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- //Accordion -->

            </div>
            <div id="overviewbox">
                <span style="float:right;">
                    <a href="/addPatient"><i class="fa fa-user-plus" style="color:#005EB8;display: inline-block; font-size:3vh;padding-top:7px;margin-right:15px;"></i></a>
                </span>
                <a th:href="@{/patient/all}"><h5>My Patients (<span th:text="${#lists.size(patients)}"/>)</h5></a>
                <div class="line"></div>
                <!-- Accordion -->
                <div class="ac-container agileits w3layouts">
                    <div  th:each="patient,iterStat : ${patients}">
                        <input th:id="'ac-2' + ${iterStat.count}" name="accordion-2" type="checkbox" />
                        <label th:for="'ac-2' + ${iterStat.count}" th:class="'grid2'  + ${iterStat.count}">
                            <table class="patient-title-table">
                                <tr>
                                    <td class="patient-title-table-bed">Bed <span th:text="${patient.bed}"/></td>
                                    <td><span th:text="${patient.title}"/> <span th:text="${patient.firstName}"/> <span th:text="${patient.lastName}"/></td>
                                    <td><span style="font-size:1.5vw;float:right;">
                                        <a th:href="@{/patient/hospitalNumber=} + ${patient.hospitalNumber}" class="patient-button"><i class="fa fa-id-card"></i></a>
                                        <a th:href="@{/patient/discharge(id=${patient.id})}" class="patient-button"><i class="fa fa-minus-circle" style="padding:5px;"></i></a>
                                    </span></td>
                                </tr>
                            </table>
                        </label>
                        <article class="ac-small agileits w3layouts">

                            <!--TABLE WIDE-->
                            <table class="patient-info-table">
                                <tr>
                                    <td><span>Date of Birth change</span></td>
                                    <td><span th:text="${patient.birthDate}"/></td>
                                </tr>
                                <tr>
                                    <td><span>NHS Number</span></td>
                                    <td><span th:text="${patient.nHSNumber}"/></td>
                                </tr>
                                <tr>
                                    <td><span>Hospital Number</span></td>
                                    <td><span th:text="${patient.hospitalNumber}"/></td>
                                </tr>
                                <tr>
                                    <td>Diagnosis</td>
                                    <td><span th:text="${patient.diagnosis}"/></td>
                                </tr>
                                <tr>
                                    <td>Relevant History</td>
                                    <td><span th:text="${patient.relevantHistory}"/></td>
                                </tr>
                                <tr>
                                    <td>Recommendations</td>
                                    <td><span th:text="${patient.recommendations}"/></td>
                                </tr>
                                <tr>
                                    <td>Risks</td>
                                    <td><span th:text="${patient.risks}"/></td>
                                </tr>
                                <tr>
                                    <td>Handover notes</td>
                                    <td colspan="2">
                                        <div th:each="handover,iterStat : ${handovers}" th:if="${handover.patient}==${patient}" th:text="${handover.note}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div><a th:href="@{/patient/hospitalNumber=} + ${patient.hospitalNumber}">Click For Detail View</a></div>
                                        <div th:if="${doctor.id} == ${patient.doctor.id}" colspan="3">
                                            <a th:href="@{/patient/discharge(id=${patient.id})}">Discharge Patient</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </article>
                    </div>
                </div>
                <!-- //Accordion -->
            </div>
        </div>

        <!-- If the user currently logged in is an admin, add this box to their overview dashboard -->
        <div th:if="${#authentication.principal.isAdmin()}" class="overviewbox-wrapper">
            <div id="overviewbox">
                <h5>Admin Box</h5>
                <div class="line"></div>
                <div class="ac-container agileits w3layouts">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
                <div id="adminbox">
                    <a th:href="@{/Admin/createUser}"><p>Create Users</p></a><br/>
                    <a th:href="@{/addWard}"><p>Create Wards</p></a><br/>
                    <p>Edit Users</p>

                    <form th:action="@{/Admin/EditUser{test}(test = ${Id})}" method="get" class="form-group">
                        <table style="margin-left:30px;">
                            <div class="form-group">
                                <tr><td><select id="Id" name="Id">
                                    <option value="default">Select a User</option>
                                    <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.firstName}+' '+${user.lastName}"></option>
                                </select></td></tr>
                                <tr><td><button type="submit" class="btn btn-primary">Edit User</button></td></tr>
                            </div>
                        </table>
                    </form>
                </div>


            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>


